{
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "printWidth": 130,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^[^.](.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderMergeDuplicateImports": true
}
